<div class="json-wrap" *ngIf="!loading; else loadingTpl">
	<div *ngIf="!error; else errorTpl">
		<div class="json-card">
			<div class="json-card__header">
				<h3>Page Views</h3>
			</div>
			<pre>{{ pageViews | json }}</pre>
		</div>
		<div class="json-card">
			<div class="json-card__header">
				<h3>Followers</h3>
			</div>
			<pre>{{ followers | json }}</pre>
		</div>
		<div class="json-card">
			<div class="json-card__header">
				<h3>Engagement</h3>
			</div>
			<pre>{{ engagement | json }}</pre>
		</div>
	</div>
</div>

<ng-template #loadingTpl>
	<div class="json-loading">Loading…</div>
</ng-template>

<ng-template #errorTpl>
	<div class="json-error">{{ error }}</div>
</ng-template>
